{{ block title }} Preparing the Ballot {{ endblock }}

{{ block content }}
    <div class="card border-light mb-4">
        <div class="card-body text-center py-5">
            <div class="spinner-border text-success mb-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h5>Compiling Candidates...</h5>
            <p class="text-muted">Please wait while we finalize the list of candidates for this round's election.</p>
        </div>
    </div>
{{ endblock }}