{{ block title }} Preparing Round {{ endblock }}

{{ block content }}
    <div class="card border-light mb-4 shadow-sm">
        <div class="card-body text-center py-5">
            <div class="spinner-border text-primary mb-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h5>Please Wait...</h5>
            <p>The round will start as soon as the other players finish reading their specific instructions.</p>
        </div>
    </div>
{{ endblock }}